<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM TEST AUTOMATION SUITE">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="FRE CRM Test CASES">
		<classes>
			<class name="com.crm.qa.testcases.Contactspagetest" />
			<class name="com.crm.qa.testcases.Homepagetest" />
			<class name="com.crm.qa.testcases.Loginpagetest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
